version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
    open-pull-requests-limit: 5
    reviewers:
      - "yatis"
    labels:
      - "dependencies"
      - "npm"
    allow:
      - dependency-type: "all"
    ignore:
      - dependency-name: "react-scripts"
        versions: ["5.1.0"]

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "05:00"
    open-pull-requests-limit: 5
    reviewers:
      - "yatis"
    labels:
      - "ci"
      - "github-actions"
