.login-container {
  background-image: url("../assets/images/login-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
}

.login-card {
  width: 380px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
  backdrop-filter: blur(8px);
}